node_modules/
backend/build
backend/.env.development
backend/.env.test
backend/node_modules/
backend/.nyc_output
backend/images/*.jpg 
backend/images/*.jpeg
backend/images/*.jfif
backend/images/*.pjpeg
backend/images/*.pjp
backend/images/*.png
backend/images/*.webp