node_modules/
backend/build
backend/.env.development
backend/.env.test
backend/node_modules/
backend/.nyc_output
images/*.jpg 
images/*.jpeg
images/*.jfif
images/*.pjpeg
images/*.pjp
images/*.png
images/*.webp